body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	background-color: #F0F5FF;
}

header {
	background-color: #FFFFFF;
	padding: 20px;
	min-height: 85px;
	border-bottom: 2px #3AFF51 solid;
}

header .container, header .container-fluid {
	position: relative;
}

header .logo {
	position: absolute;
	top: -20px;
}

header .logo img {
	max-height: 80px;
}

header .menu-wrapper ul {
	list-style-type: none;
	font-size: 18px;
	margin: 0;
	padding: 0;
	/*width: 100%;*/
}

header .menu-wrapper ul li {
	display: inline-block;
	margin: 5px 35px;

	/*display: block;
	margin: 5px auto;
	float: left;
	width: 25%;*/
}

header .menu-wrapper ul li a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

header .menu-wrapper ul li a:hover, .student-menu ul li a:hover {
	color: #3AFF51;
	border-bottom: 4px solid #3AFF51;
}

header .student-btns a:first-child {
	color: #333333;
	font-weight: bold;
	margin-right: 5px;
}

header .student-btns a:first-child:hover {
	color: #3AFF51;
}

header .student-btns a.account-link {
	position: absolute;
	right: 22%;
	top: 20%;
}

header .student-btns .menu-control {
	display: inline-block;
	font-size: 25px;
	color: #3AFF51;
	position: absolute;
	left: 80%;
	z-index: 1;
}

header .student-btns .menu-control i {
	border: 2px solid #3AFF51;
	padding: 6px 2px;
	cursor: pointer;
}

header .student-btns .menu-control i:hover {
	color: #FFFFFF;
	background-color: #3AFF51;
}

.student-menu {
	width: 200px;
	background-color: #FFFFFF;
	border: 2px solid #3AFF51;
	position: absolute;
	top: 120%;
	left: 27%;
}

.student-menu.mb {
	display: block !important;
}

.student-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.student-menu ul li {
	padding: 15px;
	border-bottom: 1px solid #c0c7d3;
}

.student-menu ul li:last-child {
	border-bottom: 0px;
}

.student-menu ul li a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

/*header .menu-control {
	width: 45px;
    color: #fff;
    background-color: #3AFF51;
    padding: 11px 8px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    margin: 0 auto;
    cursor: pointer;
    right: 15px;
    z-index: 1;
    position: absolute;
}*/

header .menu-control > span {
	display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    margin: 0 0 4px 0;
    border-radius: 3px;
}

/*header .menu-wrapper ul li:hover {
	color: #FFFFFF;
	background-color: #3AFF51;
}*/

footer {
	background-color: #3AFF51;
	padding: 10px;
	color: #262626;
	font-weight: bold;
	text-align: center;
}

.my-header {
	font-size: 22px;
	font-weight: bold;
}

.my-title {
	font-size: 36px;
	font-weight: bold;
}

/* ----------------------------------------------------------------------------
#navigation-section starts here
---------------------------------------------------------------------------- */
#navigation-section {
	border-bottom: 2px #3AFF51 solid;
	background-color: #FFFFFF;
	font-weight: bold;
	position: sticky;
	top: -1px;
	z-index: 1;
}

#navigation-section .form-inline a {
	margin-left: 5px;
}

#navigation-section .form-inline select {
	margin-right: 2px;
}

#navigation-section .navbar-nav li {
	margin-right: 25px;
}

#navigation-section a.menu-active, #navigation-section .navbar-nav li a.nav-link:hover {
	color: #333333;
}
/* ----------------------------------------------------------------------------
#navigation-section starts here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#form-section starts here
---------------------------------------------------------------------------- */
#form-section .question-text h2 {
	font-size: 18px;
}

#form-section .form-wrapper {
	max-width: 600px;
	margin: 50px auto;
	padding: 10px 50px;
	background-color: #FFFFFF;
	border: 2px #3AFF51 solid;
}

#form-section .form-wrapper a {
	text-decoration: underline;
}

#form-section .form-wrapper .question-text {
	padding: 30px 0;
	text-align: center;
	border-bottom: 2px #3AFF51 solid;
}

#form-section .form-wrapper form {
	padding: 30px 0;
}

#form-section .form-wrapper .form-title {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 25px;
}

#form-section .form-wrapper .form-group {
	margin-bottom: 15px;
}

#form-section .form-wrapper form div:last-child {
	margin-top: 40px;
}

.address-input input {
	margin-top: 2px;

}

.address-input input.first {
	margin-top: 0;
}
/* ----------------------------------------------------------------------------
#form-section ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#message-section starts here
---------------------------------------------------------------------------- */
#message-section .message-box {
	font-size: 16px;
	max-width: 500px;
	min-height: 70px;
	background-color: #FFFFFF;
	margin: 30px auto 0;
}

#message-section .error-box {
	border: 1px #ec001b solid;
	color: #ec001b;
}

#message-section .error-icon-bg {
	background-color: #ec001b;
}

#message-section .success-box {
	border: 1px #28a745 solid;
	color: #28a745;
}

#message-section .success-icon-bg {
	background-color: #28a745;
}

#message-section .info-box {
	border: 1px #333333 solid;
	color: #333333;
}

#message-section .info-icon-bg {
	background-color: #333333;
}

#message-section .message-box .message-icon {
	min-height: 70px;
	display: block;
	float: left;
	width: 8%;
	color: #FFFFFF;
	position: relative;
}

#message-section .message-box .message-icon i {
	position: absolute;
	font-size: 25px;
	top: 50%;
	margin-top: -12.5px;
	left: 50%;
	margin-left: -12.5px;
}

#message-section .message-box .message-text {
	min-height: inherit;
	display: block;
	float: left;
	width: 92%;
	padding: 10px;
	background-color: #FFFFFF;

}

.clearfix {
	float: none;
	clear: both;
}
/* ----------------------------------------------------------------------------
#message-section ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#user-profile-section starts here
---------------------------------------------------------------------------- */
#user-profile-section {
	margin: 50px auto 60px;
}

#user-profile-section .container {
	background-color: #FFFFFF;
	padding: 30px 45px;
	border: 2px #3AFF51 solid;
	border-radius: 10px; 
}

.user-profile .my-header {
	margin-bottom: 45px;
}

.user-profile ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 45px;
}

.user-profile ul li {
	margin-bottom: 10px;
}

#user-profile-section .profile-photo img {
	max-width: 300px;
	max-height: 300px;
}
/* ----------------------------------------------------------------------------
#user-profile-section ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#categorized-section starts here
---------------------------------------------------------------------------- */
#categorized-section {
	padding: 40px 0;
	margin: 40px 0;
}

#categorized-section .my-title {
	margin-bottom: 20px;
}

#categorized-section .category {
	background-color: #FFFFFF;
	display: block;
	width: 90%;
	height: 200px;
	padding: 50px;
	margin: 40px auto 0;
	border: 2px #3AFF51 solid;
	border-radius: 10px;
	text-decoration: none;
	color: #333333;
}

.category i {
	font-size: 45px;
	color: #3AFF51;
	margin-bottom: 20px;
}

#categorized-section a.category:hover, #categorized-section a.category:hover i {
	color: #FFFFFF;
	background-color: #3AFF51;
	cursor: pointer;
}

/* ----------------------------------------------------------------------------
#categorized-section ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#table-section starts here
---------------------------------------------------------------------------- */
#table-section table {
	background-color: #FFFFFF;
	margin-top: 50px;
	border: 2px #3AFF51 solid;
}

#table-section table th[colspan] {
	background-color: #3AFF51;
}
/* ----------------------------------------------------------------------------
#table-section ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#course-detail starts here
---------------------------------------------------------------------------- */
#course-detail .course-content-wrapper {
	background-color: #FFFFFF;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 30px;
}

#course-detail .uploader {
	font-size: 14px;
}

#course-detail .course-coverphoto {
	padding: 40px;
}

#course-detail .content-group {
	padding-top: 16px;
}

#course-detail .content-title {
	font-weight: bold;
	margin-bottom: 12px;
}
/* ----------------------------------------------------------------------------
#course-detail ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#lecture-list starts here
---------------------------------------------------------------------------- */
#lecture-list .container .lecture-list-wrapper {
	background-color: #FFFFFF;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 30px;
}

#lecture-list .lecture-list-wrapper .my-header {
	margin-bottom: 22px;
}

#lecture-list .list-group-flush a {
	border-top: 1px solid #3AFF51;
}
/* ----------------------------------------------------------------------------
#lecture-list ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#lecture-detail starts here
---------------------------------------------------------------------------- */
#lecture-detail .container .lecture-detail-wrapper {
	background-color: #FFFFFF;
	margin-top: 20px;
	margin-bottom: 20px;
}

.lecture-detail-wrapper .course-name {
	padding: 30px;
	border-bottom: 2px solid #3AFF51;
}

.lecture-detail-wrapper .lecture-content {
	padding: 30px;
}

.lecture-detail-wrapper .lecture-content a.btn {
	border: 1px solid #b7b7b7;
	width: 105px;
}

.lecture-content .content-group {
	padding-top: 40px;
}

.lecture-content .lecture-video {
	padding: 40px;
}

.lecture-content .my-header {
	margin-bottom: 22px;
}
/* ----------------------------------------------------------------------------
#lecture-detail ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#home-course-content starts here
---------------------------------------------------------------------------- */
#home-course-content {
	background-image: url("../img/course-content-background.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	display: block;
	padding: 195px 0;
}

#home-course-content .slogan-content {
	background-color: rgba(89, 244, 66, 0.8);
	width: 50%;
	margin: 0 auto;
	border: 2px solid #3AFF51;
	padding: 40px;
	font-size: 30px;
	font-weight: bold;
	color: #000000;
}

#home-course-content .slogan-content .btn {
	margin-top: 50px;
}
/* ----------------------------------------------------------------------------
#home-course-content ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#course-content starts here
---------------------------------------------------------------------------- */
#course-content .course-box {
	width: 90%;
	padding: 20px;
	margin: 30px auto;
	background-color: #FFFFFF;
	border: 2px solid #3AFF51;
	/*position: relative;*/
}

#course-content .course-box .course-box-category {
	margin-bottom: 20px;
	text-transform: capitalize;
}

#course-content .course-box .course-box-name {
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 19px;
}

#course-content .my-header {
	margin-top: 20px;
}

/*#course-content .course-box .course-box-bottom {
	position: absolute;
	width: 90%;
	bottom: 0;
}*/

#course-content .course-box .course-box-bottom ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#course-content .course-box .course-box-bottom ul li {
	margin-bottom: 10px;
}

.my-not-found {
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 20px;
}

.my-not-found span {
	color: #910010;
	font-weight: bolder;
}
/* ----------------------------------------------------------------------------
#course-content ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#enroll-section starts here
---------------------------------------------------------------------------- */
#enroll-section .enroll-content {
	background-color: #FFFFFF;
	padding: 30px;
	margin: 20px auto;
}

#enroll-section div.enroll-content > div.my-title {
	margin-bottom: 40px;
}

#enroll-section div.enroll-content > div {
	margin-bottom: 30px;
}

#enroll-section div.enroll-content > div.bank-account div.my-header {
	margin-bottom: 10px;
}

#enroll-section div.enroll-content > div.bank-account p {
	margin-bottom: 5px;
}

#enroll-section div.enroll-content > div.enroll-message {
	border: 1px solid #333;
	background-color: #eaeaea;
	width: 90%;
	padding: 20px 30px;
	margin-right: auto;
	margin-left: auto;
}
/* ----------------------------------------------------------------------------
#enroll-section ends here
---------------------------------------------------------------------------- */