body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	background-color: #F0F5FF;
}

header {
	background-color: #FFFFFF;
	padding: 20px;
	min-height: 85px;
	border-bottom: 2px #3AFF51 solid;
}

header .container {
	position: relative;
}

header .logo {
	position: absolute;
	top: -20px;
}

header .logo img {
	max-height: 80px;
}

header .menu-wrapper ul {
	list-style-type: none;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

header .menu-wrapper ul li {
	display: block;
	/*padding: 20px;*/
	margin: 5px;
}

header .menu-wrapper ul li a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

header .menu-wrapper ul li a:hover {
	color: #3AFF51;
	border-bottom: 4px solid #3AFF51;
}

footer {
	background-color: #3AFF51;
	padding: 10px;
	color: #262626;
	font-weight: bold;
	text-align: center;
}

.my-header {
	font-size: 22px;
	font-weight: bold;
}

.my-title {
	font-size: 36px;
	font-weight: bold;
}

/* ----------------------------------------------------------------------------
#navigation-section starts here
---------------------------------------------------------------------------- */
#navigation-section {
	border-bottom: 2px #3AFF51 solid;
	background-color: #FFFFFF;
	font-weight: bold;
	position: sticky;
	top: -1px;
}

#navigation-section .form-inline a {
	margin-left: 5px;
}

#navigation-section .form-inline select {
	margin-right: 2px;
}

#navigation-section .navbar-nav li {
	margin-right: 25px;
}
/* ----------------------------------------------------------------------------
#navigation-section starts here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#form-section starts here
---------------------------------------------------------------------------- */
#form-section .question-text h2 {
	font-size: 18px;
}

#form-section .form-wrapper {
	max-width: 600px;
	margin: 50px auto;
	padding: 10px 50px;
	background-color: #FFFFFF;
	border: 2px #3AFF51 solid;
}

#form-section .form-wrapper a {
	text-decoration: underline;
}

#form-section .form-wrapper .question-text {
	padding: 30px 0;
	text-align: center;
	border-bottom: 2px #3AFF51 solid;
}

#form-section .form-wrapper form {
	padding: 30px 0;
}

#form-section .form-wrapper .form-title {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 25px;
}

#form-section .form-wrapper .form-group {
	margin-bottom: 15px;
}

#form-section .form-wrapper form div:last-child {
	margin-top: 40px;
}
/* ----------------------------------------------------------------------------
#form-section ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#error-message starts here
---------------------------------------------------------------------------- */
#error-message .error-box {
	border: 1px #FC361D solid;
	border-radius: 10px;
	box-shadow: 0 0 10px #FC361D;
	color: #FC361D;
	font-size: 16px;
	/*font-weight: bold;*/
	max-width: 500px;
	min-height: 70px;
	background-color: #FFFFFF;
	margin: 30px auto 0;
	padding: 10px;
}
/* ----------------------------------------------------------------------------
#error-message ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#user-profile-section starts here
---------------------------------------------------------------------------- */
#user-profile-section {
	margin: 50px auto 60px;
}

#user-profile-section .container {
	background-color: #FFFFFF;
	padding: 30px 45px;
	border: 2px #3AFF51 solid;
	border-radius: 10px; 
}

.user-profile .my-header {
	margin-bottom: 45px;
}

.user-profile ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 45px;
}

.user-profile ul li {
	margin-bottom: 10px;
}

#user-profile-section .profile-photo img {
	max-width: 300px;
	max-height: 300px;
}
/* ----------------------------------------------------------------------------
#user-profile-section ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#categorized-section starts here
---------------------------------------------------------------------------- */
#categorized-section {
	padding: 40px 0;
	margin: 40px 0;
}

#categorized-section .my-title {
	margin-bottom: 20px;
}

#categorized-section .category {
	background-color: #FFFFFF;
	display: block;
	width: 90%;
	height: 200px;
	padding: 50px;
	margin: 40px auto 0;
	border: 2px #3AFF51 solid;
	border-radius: 10px;
	text-decoration: none;
	color: #333333;
}

.category i {
	font-size: 45px;
	color: #3AFF51;
	margin-bottom: 20px;
}

#categorized-section a.category:hover, #categorized-section a.category:hover i {
	color: #FFFFFF;
	background-color: #3AFF51;
	cursor: pointer;
}

/* ----------------------------------------------------------------------------
#categorized-section ends here
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
#table-section starts here
---------------------------------------------------------------------------- */
#table-section table {
	background-color: #FFFFFF;
	margin-top: 50px;
	border: 2px #3AFF51 solid;
}

#table-section table th[colspan] {
	background-color: #3AFF51;
}
/* ----------------------------------------------------------------------------
#table-section ends here
---------------------------------------------------------------------------- */